<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Medicamentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/paneladministrador.css}">
</head>
<body>
<!-- Navbar superior -->
<div id="navbar-container"></div>
<script th:src="@{/js/administrador/navbaradmin.js}"></script>

<div class="container mt-4">
    <div class="d-flex justify-content-between mb-3">
        <h2>Lista de Proveedores</h2>
        <a href="/administrador/panelproveedores/nuevo" class="btn btn-primary">Nuevo Proveedor</a>
        <a href="/administrador/panelproveedores/exportar-pdf" class="btn btn-danger">Exportar PDF</a>
        <a href="/administrador/panelproveedores/exportar-excel" class="btn btn-success">Exportar Excel</a>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre de Empresa</th>
            <th>RUC</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Nombre del Gerente</th>
            <th>DNI del Gerente</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prov : ${proveedores}">
            <td th:text="${prov.id}"></td>
            <td th:text="${prov.nombreEmpresa}"></td>
            <td th:text="${prov.ruc}"></td>
            <td th:text="${prov.direccion}"></td>
            <td th:text="${prov.telefono}"></td>
            <td th:text="${prov.nombreGerente}"></td>
            <td th:text="${prov.dniGerente}"></td>
            <td>
                <a th:href="@{/administrador/panelproveedores/editar/{id}(id=${prov.id})}" class="btn btn-warning btn-sm">Editar</a>
                <a th:href="@{/administrador/panelproveedores/eliminar/{id}(id=${prov.id})}" class="btn btn-danger btn-sm"
                   onclick="return confirm('¿Estás seguro de eliminar este proveedor?')">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/panelgeneral.js"></script>
</body>
</html>
